extends layout.pug 

block content
    body 
        h1 About Chico!
        h3 Studying Hard to Land the First Web Developer job! 

        .content 
            h4
                ul 
                    h3 Priorities 
                    li Nodejs 
                    li Reactjs 
                    li Work Hard and Effort! ALWAYS!