extends layout.pug 

block content
    section#content
        h1 The future home of something maginal! 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, suscipit! Beatae, veritatis sequi. Libero blanditiis quae maiores labore dolorum nostrum ad, vel aut quo incidunt fuga culpa ipsa magnam tenetur!
        h4
            ul 
                h3 Path to Learn Node-Express! 
                li Nodejs 
                li Express 
                li Create Server / Routes 
                li Pug Templates
    