extends layout.pug 

block content 
    h1 WELCOME /HOME
    h2 welcome, student!
    if name
    else
        form(action='/welcome', method='post')
            label Username: 
                input(type='text', name='username')
            button(type='submit') SEND